<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>AskNikolay</title>

    <!-- Bootstrap -->
    {% load static %}
    <link href="{% static './css/bootstrap.min.css' %}" rel="stylesheet">
    {% load static %}
    <link href="{% static './css/askme.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index' %}">AskNikolay</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-primary">ASK!</button>
        </form>

        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
            <li>
              <img src="/uploads/{{ user.profile.avatar.name }}" class="img-rounded navbar-brand">
            </li>
            <li>
              <p class="navbar-text">{{ user.username }}</p>
            </li>
            <li><a href="{% url 'settings' %}">settings</a></li>
            <li><a href="{% url 'logout' %}">log out</a></li>
          {% else %}
            <li><a href="{% url 'signin' %}">log in</a></li>
            <li><a href="{% url 'signup' %}">register</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <main class="container">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-8">
        <header class="page-header">
          {% block header %}
          {% endblock %}
        </header>
        <section>
          {% block content %}
          {% endblock %}
        </section>
      </div>

      <aside class="col-sm-offset-1 col-sm-2">
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">Popular Tags</h3></div>
          <div class="panel-body">
            {% for t in toptags %}
              <a href="{% url 'tag' 'bender' %}">{% lorem 1 w random %}</a>
            {% endfor %}
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Best Members</h3>
          </div>
          <ul class="list-group">
            {% for u in topusers %}
              <li class="list-group-item text-capitalize">{% lorem 1 w random %}</li>
            {% endfor %}
          </ul>
        </div>
      </aside>
    </div>
  </main>

  <footer class="footer">
    <p class="text-muted">Технопарк ©2018</p>
  </footer>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  {% load static %}
  <script src="{% static 'js/jquery.min.js' %}"></script>
  {% load static %}
  <script src="{% static 'js/papper.min.js' %}"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  {% load static %}
  <script src="{% static './js/bootstrap.min.js' %}"></script>
</body>
</html>
