{% extends './base.html' %}

{% block header %}
  <h1>
    {% if header == 'index' %}
      New questions
      <small><a href="{% url 'hot' %}">Hot questions</a></small>
    {% elif header == 'hot' %}
      Hot questions
      <small><a href="{% url 'index' %}">New questions</a></small>
    {% elif header == 'tag' %}
      Tagged questions
      <small>{{ tag }}</small>
    {% endif %}
  </h1>
{% endblock %}

{% block content %}
  <div class="list-group">
    {% for q in questions %}
      <div class="row list-group-item">
        <div class="col-sm-2">
          <img src="/uploads/{{ q.author.avatar.name }}" class="img-responsive img-rounded">
          <br>
          <input type="number" class="form-control" value="{{ q.rating }}">
        </div>
        <div class="col-sm-10">
          <h4 class="list-group-item-heading">
            <a href="{% url 'question' q.id %}">
              {{ q.title }} <small>{{ q.author.user.username }}</small>
            </a>
          </h4>
          <p class="list-group-item-text">
            {{ q.content }}<br>
            {% lorem 1 b random %}
          </p>
          <br>
          <div class="row">
            <p class="col-sm-3">
              <a href="{% url 'question' q.id %}">
                answers ({{ q.answer_set.count }})
              </a>
            </p>
            <p class="col-sm-9">
              Tags:
              {% for t in q.taglist %}
                <a href="{% url 'tag' t.content %}">
                  {{ t.content }}
                </a>
              {% endfor %}
            </p>
          </div>
        </div>
      </div>
    {% endfor %}

    {% include './paginator.html' with objects=questions %}
  </div>
{% endblock %}

<!-- <html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Askme</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/askme.css">
</head>
<body>
    <header>
    
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">AskServer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        </div>
    </nav>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-2">
                        <img src="img/loren.jpeg" alt="123">
                    </div>
                    <div class="col-md-10">
                        <h3>My brend new header</h3>
                        <p>кашмаааааааааааааааааааар</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">dddd</div>
        </div>
    </div>

    <main role="main" class="container">
    <h1 class="mt-5">Sticky footer with fixed navbar</h1>
    <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>body &gt; .container</code>.</p>
    <p>Back to <a href="../sticky-footer">the default sticky footer</a> minus the navbar.</p>
    </main>

    <footer class="footer">
    <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
    </footer>

    <script src="js/jquery.min.js"></script>
    <script src="js/papper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html> -->
