{% extends "./base.html" %}

{% block header %}
  <div class="row">
    <div class="col-sm-3">
      {% load static %}
      <img src="/uploads/{{ question.author.avatar.name}}" class="img-responsive img-rounded">
      <br>
      <input type="number" class="form-control" value="{{ question.rating }}">
    </div>
    <div class="col-sm-9">
      <h3>{{ question.title}}</h3>
      {% lorem 2 p random %}
      <p>
        Tags:
        {% for t in question.taglist %}
          <a href="{% url 'tag' t.content %}">{{ t.content }}</a>
        {% endfor %}
      </p>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="list-group">
    {% include './paginator.html' with objects=answers %}

    {% for a in answers %}
      <div class="row list-group-item">
        <div class="col-sm-2 ">
          <img src="/uploads/{{ a.author.avatar.name}}" class="img-responsive img-rounded">
          <br>
          <input type="number" class="form-control" value="{{ a.rating }}">
        </div>

        <div class="col-sm-10">
          <small>{{ a.id }}</small>
          <p class="list-group-item-text">
            {{ a.content }}<br>
            {% lorem 1 b random %}
          </p>

          <div class="checkbox">
            <label>
              <input type="checkbox" {% if a.is_correct %}checked{% endif %}> Correct!
            </label>
          </div>
        </div>
      </div>
    {% endfor %}

    {% include './paginator.html' with objects=answers %}

    {% if user.is_authenticated %}
      <form action="{% url 'question' question.id %}" method="post" class="row">
        {% csrf_token %}
        {% if form.non_field_errors %}
          <div class="row">
            <div class="alert alert-danger">{{ form.non_field_errors }}</div>
          </div>
        {% endif %}

        {% for field in form %}
          <div class="form-group">
            {{ field.errors }}
            {{ field }}
            {% if field.help_text %}
              <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
          </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">
          Answer
        </button>
      </form>
    {% endif %}
  </div>
{% endblock %}
